.score,
.message {
  color: white;
  display: block;
  text-align: center;
  font-size: 26px;
  text-shadow: -1px -1px 1px gray, 0px 2px 3px grey, 4px 2px 5px grey,
    2px 0px 7px grey;
  margin-bottom: 2px;
  position: sticky;
}
.message {
  font-weight: bold;
}
span {
  margin: 0px 10px 0px 25px;
}
.visi {
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .score,
  .message {
    font-size: 20px;
  }
  span {
    margin: 0px 5px 0px 12.5px;
  }
  .visi {
    visibility: hidden;
  }
}
