.title {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-style:italic;
  text-decoration: underline;
  color: white;
  text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px grey,
             4px 4px 5px grey,
             0px 0px 7px grey;
}
