.wrapper {
  height: 100%;
  padding: 25px;
  margin: auto;
}

@media only screen and (min-width: 1299px) {
  .wrapper {
    padding: 25px 100px 0 100px;
    width: 88%;
  }
}

@media only screen and (min-width: 2560px) {
  .wrapper {
    padding: 25px 150px 0 150px;
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-top: 5px;
  }
}
