.wrapper {
  height: 100%;
  padding: 25px 75px 0 75px;
  width: 95%;
  margin: auto;
}

@media only screen and (min-width: 1920px) {
  .wrapper {
    padding: 25px 100px 0 100px;
    width: 85%;
  }
}

@media only screen and (min-width: 2560px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 5px 0 0 0;
    width: auto;
  }
}
