.wrapper {
  height: 100%;
  padding: 25px;
  margin: auto;
}

@media only screen and (min-width: 1835px) {
  .wrapper {
    padding: 25px 100px 0 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding-top: 5px;
  }
}
