.card {
  border-radius: 25px;
  height: 225px;
  width: 250px;
  margin: 10px;
  box-shadow: 0 6px 10px grey, 0 6px 10px grey;
  text-align: left;
  cursor: pointer;
  background: transparent;
}
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(#5de7ff 0%, #0092ec 100%);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-radius: 25px;
}
.card > .img-container > img {
  width: 95%;
}
.card > .img-container > img:hover {
  animation: shake 1.25s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.card > .content {
  font-size: 22px;
  color: black;
  text-shadow: -1px -1px 1px #aaa, 0px 4px 1px grey, 4px 4px 5px grey,
    0px 0px 7px grey;
  text-align: center;
  background: white;
  opacity: 0.7;
  border-radius: 30px;
  border: solid black 1px;
}
@media only screen and (min-width: 1920px) {
  .card {
    height: 275px;
    width: 300px;
    margin: 20px;
  }
}
@media only screen and (min-width: 2400px) {
  .card {
    height: 400px;
    width: 425px;
    margin: 20px;
  }
}
@media only screen and (max-width: 1250px) {
  .card {
    margin: 0px;
    height: 200px;
    width: 225px;
  }
}
@media only screen and (max-width: 1023px) {
  .card {
    margin: 0px;
    height: 175px;
    width: 200px;
  }
}
