* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: black url(/clickygame/img/bgimage.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
