* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: black
    url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/567640/87cf9efc4912d7d7b4bd6fdb2b5a1f6ad4ee47a9.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
