* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  /* Development path */
  /* background: black url(/img/bgimage.jpg) no-repeat center center fixed; */
  /* Production build path */
  background: black url(/memorygame/img/bgimage.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}
