* {
  font-family: sans-serif;
}
body {
  /* Development path */
  background: black url(/img/bgimage.jpg) no-repeat center center fixed;
  /* Production build path */
  /* background: black url(/memorygame/img/bgimage.jpg) no-repeat center center
    fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#source {
  color: #1db0ff;
  font-size: 0.9rem;
  font-style: italic;
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 0;
}
